* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 660px;
  margin: 0px auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 12px 12px 12px 12px;
}
section h2:not(div > h2) {
  text-align: right;
  font-size: 1em;
  margin-block-start: unset;
  margin-block-end: 6px;
}
